* {
	margin: 0px;
	padding: 0px;
}

html, body {
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

body {
	text-align: center;
	color: #000;
	padding: 0px;
	margin: 0 auto;
	background-color: #261C16;
	background-image: url(../assets/images/emenu/body_bg_index.gif);
	background-repeat: repeat-x;
	background-position: left 140px;
	font: normal 66% verdana, sans-serif;
}

p {
	margin: 0;
	padding: 0;
	
}
a {
	cursor: pointer;
	outline: none;
}


h1 {
	font:bold 1.167em/1.25em arial, sans-serif;
	color:#000;
	margin:0 0 0.667em 0;
}


img {
	border: 0;
}


#wrapper {
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	width: 942px;
}

#inner_wrap {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 940px;
	border-left: solid 1px #261C16;
	border-right: solid 1px #261C16;
}

#header {
	height:115px;
	margin:0 auto;
	background-color: #FFF;
	padding: 0px;
	width: 940px;
	clear: both;
}

#header #logo {
	padding:10px 0 0 30px;
	text-align: left;
}

#header #logo_print {
	display: none;
	clear: both;

}

#header #logo h1 {
	margin-bottom:0;
}

#header .nav,
#cultures {
	float:right;
	padding-top:14px; /*IE6 Bug*/
	color:#969696;
	display: inline;
}

.richheader .nav,
#cultures {
	font:normal 1em/1em "arial", sans-serif;
	color:#969696 !important;
}

#cultures {
	margin-right:20px;
}

.richheader .nav a,
#cultures a {
	text-decoration:none;
	color:#969696 !important;
}

#header .nav a:hover,
#cultures a:hover {
	color:#000 !important;
}

.richheader table {
	float:right;
	clear:right;
	margin-top:30px;
	border:0;
}

.richheader a.reserver {
	display:none;
	height:40px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../assets/images/emenu/btn-reserver.gif);
	width: 157px;
}
.richheader a.reserver:hover {
	background-position:-157px top;
}
.richheader a.reserver_en {
	background-image: url(../assets/images/emenu/btn-reserver_en.gif);

}
.richheader a.reserver span {
	display:none;
}
#topnav {
	background-color: #333;
	margin: 0 auto;
	height: 25px;
	padding: 0px 20px;
	width: 900px;
	clear: both;
}

#topnav ul {
	margin: 0px;
	padding: 0px;
	height: 25px;
	line-height: 25px;
}

#topnav li {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px 1px;
	font-size: 14px;
	font-weight: normal;
	color: #D25D00;
	text-decoration: none;
	font-family: Georgia, serif;
	font-style: normal;
	font-variant: normal;
}

#topnav a {
	color: #E4E4E4;
	text-decoration: none;
}

#topnav a:hover {
	color: #D25D00;
	text-decoration: none;
}

#topnav ul li .blank{
	width:5px;
	height:25px;
	margin:0px;
	padding:0px 5px 0px 5px;
	line-height: 25px;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}

#img_div {
	padding: 0px;
	margin: 7px auto;
	width: 940px;
	text-align: center;
	clear: both;
}
#img_div .img_style {
	padding: 0px;
	border: 1px solid #756C60;
	margin: 0px 11px;
	text-align: center;
}
#img_div .img_style_left_right {
	border: 1px solid #756C60;
}


#mainContent {
	margin: 0 auto;
	padding: 0px;
	width: 940px;
	background-color: #CCC;
	height: 372px;
	text-align: center;
	clear: both;
}


#footer {
	margin: 0 auto;
	clear: both;
	width: 940px;
	padding: 0px;

}
#footer .content {






}
.footer_text {
	color:#C5C3C2;
	text-transform:uppercase;
	font-family: Arial;
	font-size: 1em;
	font-style: normal;
	line-height: 1.5em;
	font-weight: normal;
	font-variant: normal;
	float: left;
	text-align: left;
}
.footer_text p {
	margin:0;
	padding:0;
}
.footer_text strong {
	color:#cd5a13;
}
.footer_text a {
	color:#c5c3c2 !important;
	text-decoration:none;
}
.footer_text a:hover {
	color:#fff !important;
}

#germain {
	float:right;
}
#germain a {
	color:#cd5a13;
	text-transform:uppercase;
	text-decoration:none;
	font:bold 1em/1.5em arial, sans-serif;
}
#germain a:hover {
	text-decoration:underline;
}
#bottom {
	height: 40px;
	width: 940px;
	margin: 0 auto;
	padding-bottom: 10px;
	clear: both;
}
